- var base_url = '/m8-bpm-pitch-calculator'

mixin bpm_number_input(label,value)
  input(type='number' min=0 max=999 value=`${value}` id=`${label}` inputmode='numeric')

doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(charset='UTF-8')
    title M8 Tempo Change Pitch Calculator
    link(rel='stylesheet' href='styles.css')
    link(rel="manifest" href=`${base_url}/manifest.webmanifest`)
    link(rel="shortcut icon" type="image/png" href="img/tpo2pit.png")
    link(rel="apple-touch-icon" href="img/tpo2pit.png")
    link(rel="icon" type="image/png" href="img/tpo2pit.png")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")

  body
    header
      hgroup
        h1 TPO2PIT
        h2 M8 Tempo Pitch Change Calculator
    main
      //p This tool calculates the pitch change in semitones, PIT, PIT+FIN, Detune and FIN when changing the tempo of a song.
      .container
        .box(class=['input-panel'])
          .number-box
            label(for='from-bpm') From BPM
            +bpm_number_input('from-bpm',120)
          .number-box
            label(for='to-bpm') To BPM
            +bpm_number_input('to-bpm',160)
        .box(class=['display-panel'])
          .number-box
            label(for='display-box') Semitones
            input(id='display-box' readonly=true)
            input(id='semitones-full-fraction' hidden=true )

          fieldset
            .number-box(class=['bipolar-fixed-number-range'])
              label(for='display-box-pit-hex') PIT
              input(id='display-box-pit-hex' readonly=true)
            .number-box(class=['bipolar-fixed-number-range'])
              label(for='display-box-pit-fin-hex') (PIT+) FIN
              input(id='display-box-pit-fin-hex' readonly=true)

          .number-box(class=['bipolar-fixed-number-range'])
            label(for='display-box-detune-hex') Detune
            input(id='display-box-detune-hex' readonly=true)
          .number-box(class=['bipolar-fixed-number-range'])
            label(for='display-box-fin-hex') FIN
            input(id='display-box-fin-hex' readonly=true)
    script(src='js/app.js' type='module')
    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('#{base_url}/service-worker.js', {scope: '#{base_url}/'}).then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
